@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 8% 35%;
    --card: 0 0% 100%;
    --card-foreground: 220 8% 35%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 8% 35%;
    --primary: 20 89% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 47% 47%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 8% 35%;
    --muted-foreground: 220 8% 70%;
    --accent: 210 47% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 8% 35%;
    --input: 220 8% 35%;
    --ring: 20 89% 54%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 220 8% 15%;
    --foreground: 0 0% 98%;
    --card: 220 8% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 220 8% 23%;
    --popover-foreground: 0 0% 98%;
    --primary: 20 89% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 47% 47%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 8% 40%;
    --muted-foreground: 220 8% 70%;
    --accent: 210 47% 47%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 8% 40%;
    --input: 220 8% 40%;
    --ring: 20 89% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
